section.repository-list{
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;

    li {
      & + li {
        margin-top: 20px;
      }
      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      } 
      
      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #8257e6;
      }
    }
  }
}

.container {
  width: 100%;
}

.li-repository-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
 
}

.left {
 width: 70%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 #language {
  color: orange;
  font-weight: bold;
}
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  padding-bottom: 30px;

 

}

.right .star {
  font-size: 12px;
  color: #444;
  border: 1px solid #5555;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}